<div class="container-fluid" >
    <div style="text-align: center; justify-content: center; margin-top:150px;">
        <div class="row justify-content-md-center" style="margin-bottom: 20px;">
                <img src="assets/logo.png" alt="DOCDOX" width="10%">
         </div>
         <div class="row justify-content-md-center" style="margin-bottom: 20px;">
            <img src="assets/text white.png" alt="DOCDOX" height="50%">
         </div>
    <form [formGroup]="loginForm">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <input class="form-control" type="email" placeholder="Email" style="margin-top:20px;" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div> 
                <input class="form-control" type="password" placeholder="Password" style="margin-top:20px;" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div> 
            </div>
            <div class="col-3"></div>
         </div>
    
         <div class="row">
            <div class="col-3"></div>
            <div class="col-6" style="margin-top: 20px;">
                <div style="color: white; text-align: left;">Forgot your password?
                <button type="submit" class="btn btn-light" style="float: right; border-radius: 30px;" (click)="login()">&nbsp;Login&nbsp;</button>
            </div>
            </div>
            <div class="col-3"></div>
         </div>
        </form>

    </div>
    </div>