<div class="container-fluid" >
    <div style="text-align: center; justify-content: center; margin-top:150px;">
        <div class="row justify-content-md-center" style="margin-bottom: 20px;">
                <img src="assets/logo.png" alt="DOCDOX" width="10%">
         </div>
         <div class="row justify-content-md-center" style="margin-bottom: 20px;">
            <img src="assets/text white.png" alt="DOCDOX" height="50%">
         </div>
    
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <input class="form-control" type="text" placeholder="Email" style="margin-top:20px;">
                <input class="form-control" type="password" placeholder="Password" style="margin-top:20px;">
            </div>
            <div class="col-3"></div>
         </div>
    
         <div class="row">
            <div class="col-3"></div>
            <div class="col-6" style="margin-top: 20px;">
                <div style="color: white; text-align: left;">Forgot your password?
                <button class="btn btn-light" style="float: right; border-radius: 30px;">&nbsp;Login&nbsp;</button>
            </div>
            </div>
            <div class="col-3"></div>
         </div>
        
    </div>
    </div>