<nav class="navbar navbar-light" style="background-color: #00477D">
    <div class="col-2">
        <a class="navbar-brand" style="color: white;">
            <img src="../../assets/logo.png" style="margin-right: 10px" width="40" height="40" alt="DOCDOX">
            <img src="../../assets/text white.png" height="25" alt="DOCDOX">
        </a>    
    </div>
    <div class="col-7">
        <div class="input-group" style="background-color: white;border-radius: 15px;padding: 5px;">
            <div class="input-group-prepend">
                <svg width="20" height="40" viewBox="0 0 16 16" class="bi bi-search" aria-hidden="true" fill="grey" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
            </div>
            <input class="form-control" type="search" placeholder="Search" style="border:none;" >
        </div>
    </div> 
    <div class="col-3" style="text-align: right;color: white;">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="nav-item dropdown-toggle" style="float: inline-end;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hello, <b>{{this.name}}</b></div>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" role="menu" style="float: right;">
                    <li><a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Logout</a></li>
                </ul>    
            </div>
        </div>        
    </div>  

</nav>

<div class="container-fluid" style="padding:15px;">

<div class="row">
    <div class="col-2">
        <div>
            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#uploadModal" style="border-radius: 20px;">+ Upload</button>&nbsp;
            <button class="btn btn-outline-primary"  style="border-radius: 35px;" data-toggle="modal" data-target="#addgroupModal">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                </svg>
            </button>
        </div>
        <div class="button-group-vertical" >
            <button class="btn btn-outline-primary btn-block" *ngFor="let group of groups; index as i;" (click)="selectGroup(group, group.group_id)" attr.selectedGroupID="{{group.group_id}}" #selectedGroupID [ngClass]="{'active': group.isSelected}" style="border-radius: 30px; border:none;text-align: left; margin-top: 20px;">{{ group.group_name }}
            <button type="button" class="btn-primary dropdown-toggle-split" style="float: right;border: none; background: transparent;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton" >
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                  </svg>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
                <li><a class="dropdown-item" data-toggle="modal" data-target="#editgroupModal"  (click)="logGroupID(selectedGroupID)">Edit</a></li>
                <li><a class="dropdown-item" (click)="moveUp(i)">Move Up</a></li>
                <li><a class="dropdown-item" (click)="moveDown(i)">Move Down</a></li>
                <li><a class="dropdown-item">Delete</a></li>
            </ul>        
            </button>  

            <!--Test for non nested button--> <!-- idk how to make it look like the mockup that is not nested
            <div class="btn-group" role="group">
                <button class="btn btn-outline-primary btn-block" routerLink="" style="border-radius: 30px 0px 0px 30px; border:none;text-align: left; padding-right: 50px;">Group Name </button>
                <button type="button" class="btn btn-outline-primary dropdown-toggle-split" style="border: none;border-radius: 0px 30px 30px 0px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton" >
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      </svg>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
                    <li><a class="dropdown-item" data-toggle="modal" data-target="#editgroupModal">Edit</a></li>
                    <li><a class="dropdown-item" href="#">Move Up</a></li>
                    <li><a class="dropdown-item" href="#">Move Down</a></li>
                    <li><a class="dropdown-item" href="#">Delete</a></li>
                </ul>        
            </div> -->
            <!--End test-->
        </div>
        
    </div>

    <div class="col-7" >
        <div *ngIf="this.role==2||this.role==3">
        <div class="row">
            <div class="col-10" style="margin-bottom:25px;"><h5><b>Needing Approval</b></h5></div>
            <div>Name <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>
            </div>
        </div>
        <div class="row" style="margin-right: 10px; margin-bottom: 25px;">
            <div class="col-4" (click)="oneClick(doc.document_id)" (dblclick)="doubleClick(doc.document_id)" *ngFor="let doc of documents">
                <div class="card border-dark mb-3" style="max-width: 15rem;" *ngIf="doc.doc_status=='1'">
                    <div class="card-body">
                        {{doc.document_name}}
                    </div>
                    <div class="card-footer bg-transparent border-dark">
                        <div>
                            <div *ngIf="doc.doc_status == '1'">
                                <img src="../../assets/yellow.png" height="15px" style="margin-right: 10px; vertical-align: middle;"> 
                                <span>Pending</span>    
                            </div>
                         </div>
                    </div>
                </div>    
            </div>   
        </div>
        </div>
        <div *ngIf="this.role==1 || this.role==2">
        <div class="row">
            <div class="col-10" style="margin-bottom:25px;"><h5><b>Files</b></h5></div>
            <div>Name <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>
            </div>
        </div>
        <div class="row" style="margin-right: 10px; margin-bottom: 25px;">
            <div class="col-4" (click)="oneClick(doc.document_id)" (dblclick)="doubleClick(doc.document_id)" *ngFor="let doc of documents">
                <div class="card border-dark mb-3" style="max-width: 15rem;">
                    <div class="card-body">
                        {{doc.document_name}}
                    </div>
                    <div class="card-footer bg-transparent border-dark">
                        <div>
                            <div *ngIf="doc.doc_status == '1'">
                                <img src="../../assets/yellow.png" height="15px" style="margin-right: 10px; vertical-align: middle;"> 
                                <span>Pending</span>    
                            </div>
                            <div *ngIf="doc.doc_status == '2'">
                                <img src="../../assets/green.png" height="15px" style="margin-right: 10px; vertical-align: middle;"> 
                                <span>Approve</span>    
                            </div>
                            <div *ngIf="doc.doc_status == '3'">
                                <img src="../../assets/red.png" height="15px" style="margin-right: 10px; vertical-align: middle;"> 
                                <span>Reject</span>    
                            </div>

                         </div>
                    </div>
                </div>    
            </div>   
        </div> <!--end of #Files-->
    </div> <!-- end of ngIf-->
    </div><!--End of the middle section-->
    <div class="col-3">
        <div *ngIf="docdetails==true">
        <div *ngFor="let doc of documentdetail">

        <div class="row">
            <h5><b>{{this.currDocName}}</b></h5>
        </div>
        <div class="row" style="margin-top: 10px;">
            <button class="btn btn-outline-primary"  style="border-radius: 20px; width: 45%;" data-toggle="modal" data-target="#approveModal">Approve</button>&nbsp;
            <button class="btn btn-outline-primary"  style="border-radius: 20px; width: 45%;" data-toggle="modal" data-target="#rejectModal">Reject</button>
        </div>
        <nav style="margin-top: 20px;">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-detail-tab" data-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-detail" aria-selected="true">Detail</a>
                <a class="nav-item nav-link" id="nav-activity-tab" data-toggle="tab" href="#nav-activity" role="tab" aria-controls="nav-activity" aria-selected="false">Activity</a>
            </div>    
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-3">Owner</div>
                    <div class="col-1">:</div>
                    <div class="col">{{doc.uploader}}</div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-3">Modified</div>
                    <div class="col-1">:</div>
                    <div class="col">{{doc.modified}}</div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-3">Created</div>
                    <div class="col-1">:</div>
                    <div class="col">{{doc.created}}</div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-3">Due Date</div>
                    <div class="col-1">:</div>
                    <div class="col">{{doc.due_date}}</div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-3">Status</div>
                    <div class="col-1">:</div>
                    <div class="col">
                        <div *ngIf="doc.doc_status=='1'">
                            Pending
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-activity" role="tabpanel" aria-labelledby="nav-activity-tab">
                Activity Log
            </div>
            </div>
        </div>
        </div>
    <div *ngIf="groupdetails==true" >
        <div *ngFor="let group of groupdata">
            <div class="row">
                <h5><b>{{group.group_name}}</b></h5>
            </div>
            <div class="row" style="margin-top: 15px;margin-bottom: 15px;">
                Group Members:
            </div>
            <div class="row" style="margin-top: 10px;" *ngFor="let users of group.names">
                {{users}}
            </div> 
        </div>
    </div>
    
</div><!--div col ends here-->


</div>
</div>

<!-- Modals -->

<!-- Upload Document Modal-->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body" style="margin: 15px;">
            <form [formGroup]="uploadDoc">

            <div class="form-group" style="margin-top: 10px;">
                <h5 class="modal-title" id="uploadModalLabel"><b>Upload new document</b></h5>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <button class="btn btn-outline-primary btn-block" (click)="hiddenfileinput.click()">
                    <div *ngIf="filename==''">
                        UPLOAD
                    </div>
                    <div *ngIf="filename!=null">
                        {{this.filename}}
                    </div>
                    <input style="display: none" type="file" (change)="onFileSelect($event)" #hiddenfileinput formControlName="fileName" [ngClass]="{ 'is-invalid': submitted && d.fileName.errors }">
                </button>
                <div *ngIf="submitted && d.fileName.errors" class="invalid-feedback">
                    <div *ngIf="d.fileName.errors.required">File is required</div>
                </div>        
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <h5><b>Detail</b></h5>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <div class="form-inline">
                    <label>Due Date&nbsp;</label>
                    <input type="date" placeholder="Due Date" class="form-control" formControlName="duedate" [ngClass]="{ 'is-invalid': submitted && d.duedate.errors }">  
                    <div *ngIf="submitted && d.duedate.errors" class="invalid-feedback">
                        <div *ngIf="d.duedate.errors.required">Due date required</div>
                    </div>                      
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Share to</label>
                <select class="form-control" id="formControlShare" formControlName="sharedgroup" [ngClass]="{ 'is-invalid': submitted && d.sharedgroup.errors }">
                    <option value="">Choose a Group</option>
                    <option *ngFor="let group of groups" value="{{ group.group_id }}">{{ group.group_name }}</option>
                </select>
                <div *ngIf="submitted && d.sharedgroup.errors" class="invalid-feedback">
                    <div *ngIf="d.sharedgroup.errors.required">Shared group is required</div>
                </div>                      

            </div>
            <div class="form-group" style="margin-top: 10px;">
                <label>Type</label></div>
            <div class="form-group row" style="margin-left: 10px;">
                <div class="col-6">
                    <input class="form-check-input" type="radio"  id="typeRadio1" value="paralel" formControlName="doctype" checked>
                    <label class="form-check-label" for="typeRadio1">
                      Paralel</label>    
                </div>
                <div class="col-6">
                    <input class="form-check-input" type="radio" id="typeRadio2" value="serial" formControlName="doctype">
                    <label class="form-check-label" for="typeRadio2">
                    Serial</label>
  
                </div>
                <div *ngIf="submitted && d.doctype.errors" class="invalid-feedback">
                    <div *ngIf="d.doctype.errors.required">Document type is required</div>
                </div>  
            </div>
            <div>
                Designated For
            </div>
            <div>
                <div class="input-group" style="margin-top: 10px;">
                    <input type="email" class="form-control" placeholder="Enter email address" aria-label="Email" formControlName="designated" [ngClass]="{ 'is-invalid': submitted && d.designated.errors }">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" style="padding: 0px 50px;" (click)="pushdes()">Invite</button>
                    </div>
                    
                    <div *ngIf="submitted && d.designated.errors" class="invalid-feedback">
                        <div *ngIf="d.designated.errors.required">Designated recipient is required</div>
                    </div>
                  </div>
            </div>
            <div style="margin-top: 10px;">
                <div class="row" *ngFor="let arr of arrTempDes;index as i;">
                    <div class="col-11">{{arr}}</div>
                    <div class="col-1"><button class="btn btn-outline-dark" style="border: none;" (click)="popDes(i)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg></button>
                    </div>
                </div>
            </div>
                  
            <div style="float: right; margin-top: 20px;">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" style="padding: 10px 40px; border-radius: 35px;">Cancel</button>&nbsp;
                <button type="submit" class="btn btn-outline-primary" style="padding: 10px 40px;border-radius: 35px;" (click)="uploadDocument()">Upload</button>
            </div>
            </form>
            </div> <!--end of modal body-->

      </div>
    </div>
  </div>

<!--Add Group-->
<div class="modal fade" id="addgroupModal" tabindex="-1" role="dialog" aria-labelledby="addgroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body" style="margin: 15px;">
            <form [formGroup]="addGroup">
            <div class="form-group" style="margin-top: 10px;">
                <h5 class="modal-title" id="addgroupModalLabel"><b>Add New Group</b></h5>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                Group Name
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter group name" formControlName="groupName" [ngClass]="{ 'is-invalid': submitted && f.groupName.errors }">
                <div *ngIf="submitted && f.groupName.errors" class="invalid-feedback">
                    <div *ngIf="f.groupName.errors.required">Group name is required</div>
                </div>    
            </div>
            <div>
                Add Member
            </div>
            <div>
                <div class="input-group" style="margin-top: 10px;">
                    <input type="email" class="form-control" placeholder="Enter email address" id="memberE" aria-label="Email" formControlName="membersEmail" [ngClass]="{ 'is-invalid': submitted && f.membersEmail.errors }">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" style="padding: 0px 25px;" (click)="push()">Add Member</button>
                    </div>
                    <div *ngIf="submitted && f.membersEmail.errors" class="invalid-feedback">
                        <div *ngIf="f.membersEmail.errors.required">Members' email is required</div>
                    </div>        
                </div>
            </div>
            <hr style="margin: 20px 0px;">
            <div>
                <div class="row" *ngFor="let arr of arrTempAdd; index as i;">
                    <div class="col-11">{{arr}}</div>
                    <div class="col-1"><button class="btn btn-outline-dark" style="border: none;" (click)="popAdd(i)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg></button>
                    </div>
                </div>
            </div>
            <div style="float: right; margin-top: 20px;">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" style="padding: 10px 40px; border-radius: 35px;">Cancel</button>&nbsp;
                <button type="submit" class="btn btn-outline-primary" style="padding: 10px 20px;border-radius: 35px;" (click)="createGroup()">Create Group</button>
            </div>
        </form>
            </div> <!--end of modal body-->
      </div>
    </div>
</div>

<!--Edit Group-->
<div class="modal fade" id="editgroupModal" data-target="#editgroupModal" tabindex="-1" role="dialog" aria-labelledby="editgroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body" style="margin: 15px;">
            <form [formGroup]="editGroup">
            <div *ngFor="let group of groupdata">
            <div class="form-group" style="margin-top: 10px;">
                <h5 class="modal-title" id="editgroupModalLabel"><b>Edit Group</b></h5>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                Group Name
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter group name" formControlName="egroupName" [ngClass]="{ 'is-invalid': submitted && a.egroupName.errors }">
                <div *ngIf="submitted && a.egroupName.errors" class="invalid-feedback">
                    <div *ngIf="a.egroupName.errors.required">Group name is required</div>
                </div>        
            </div>
            <div>
                Add Member
            </div>
            <div>
                <div class="input-group" style="margin-top: 10px;">
                    <input type="email" class="form-control" placeholder="Enter email address" aria-label="Email" formControlName="emembersEmail" [ngClass]="{ 'is-invalid': submitted && a.emembersEmail.errors }">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" style="padding: 0px 25px;" (click)="pushedit()">Add Member</button>
                    </div>
                    <div *ngIf="submitted && a.emembersEmail.errors" class="invalid-feedback">
                        <div *ngIf="a.emembersEmail.errors.required">Members' email is required</div>
                    </div>            
                </div>
            </div>
            <hr style="margin: 20px 0px;">
            <div>
                <div class="row" *ngFor="let arr of arrTempEdit; index as i;">
                    <div class="col-11">{{arr}}</div>
                    <div class="col-1"><button class="btn btn-outline-dark" style="border: none;" (click)="popEdit(i)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg></button>
                    </div>
                </div>
            </div>
            <div style="float: right; margin-top: 20px;">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" style="padding: 10px 40px; border-radius: 35px;">Cancel</button>&nbsp;
                <button type="submit" class="btn btn-outline-primary" style="padding: 10px 20px;border-radius: 35px;" (click)="saveChanges()">Edit Group</button>
            </div>
        </div>
            </form>
            </div> <!--end of modal body-->
      </div>
    </div>
</div>

<button id="openPreviewButton" [hidden]="true" data-toggle="modal" data-target="#previewModal" visibility="false">Open Modal</button>

<!--Preview PDF MODAL-->
<div class="modal fade" id="previewModal" data-target="#previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <ngx-extended-pdf-viewer 
            [src]="this.pdfSrc" 
            useBrowserLocale="true"
            [height]="'90vh'"
            [showOpenFileButton]="false"
            [textLayer]="true" 
            style="display: block;">
            </ngx-extended-pdf-viewer>
        </div> <!--end of modal body-->
      </div>
    </div>
</div>


<!-- Approve Modal-->
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body" style="margin: 15px;">
            <form [formGroup]="approveForm">
            <div class="form-group" style="margin-top: 10px;">
                <h5 class="modal-title" id="uploadModalLabel"><b>Doc 1 Approval</b></h5>
            </div>
            <div class="form-group">
                <label>Additional Notes</label>
                <textarea class="form-control" style="resize: none;" rows="12" formControlName="notes"></textarea>
            </div>                
            <div style="float: right; margin-top: 20px;">
                <button type="submit" class="btn btn-outline-primary" data-dismiss="modal" style="padding: 10px 40px; border-radius: 35px;">Cancel</button>&nbsp;
                <button type="submit" class="btn btn-outline-primary" style="padding: 10px 40px;border-radius: 35px;" (click)="approve()">Approve</button>
            </div>
            </form>
            </div> <!--end of modal body-->

      </div>
    </div>
  </div>

<!-- Reject Modal-->
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body" style="margin: 15px;">
            <form [formGroup]="rejectForm">

            <div class="form-group" style="margin-top: 10px;">
                <h5 class="modal-title" id="rejectModalLabel"><b>Doc 1 Rejection</b></h5>
            </div>
            <div class="form-group">
                <label>Additional Notes</label>
                <textarea class="form-control" style="resize: none;" rows="12" formControlName="notes"></textarea>
            </div>                
            <div style="float: right; margin-top: 20px;">
                <button type="submit" class="btn btn-outline-primary" data-dismiss="modal" style="padding: 10px 40px; border-radius: 35px;">Cancel</button>&nbsp;
                <button type="submit" class="btn btn-outline-primary" style="padding: 10px 40px;border-radius: 35px;" (click)="reject()">Reject</button>
            </div>
            </form>
            </div> <!--end of modal body-->

      </div>
    </div>
  </div>

  <!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel"><b>Are you sure you want to log out?</b></h5>
          </div>
        <div class="modal-body" style="margin: 10px;">
            You will have to relogin to see your documents
        </div><!--end of body-->
        <div class="modal-footer">
            <div style="float: right;">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" style="padding: 10px 40px; border-radius: 35px;">Cancel</button>&nbsp;
                <button type="submit" class="btn btn-outline-danger" style="padding: 10px 40px;border-radius: 35px;" (click)="logout()">Logout</button>
            </div>
        </div> <!--end of modal footer-->

      </div>
    </div>
  </div>
